* {box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    padding: 10px 20px;
    border-bottom: 2px solid #333;
}

h1 {
    color: #ffffff;
    padding-left: 5px;
    text-shadow: 1px 1px 3px #ffffff;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    margin: auto;
}

input, select, textarea, button {
    font-family: inherit;
    font-size: 100%;
}

input, select, textarea, button, label {
    box-sizing: border-box;
}

input[type="text"] {
    width: 12em;
    border: 5px solid green;
}


label {
    display: inline-block;
    width: 20em;
    background-color: #f1f1f1;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    display: inline;
}

fieldset {
    position: relative;
    width: 600px;
}

.process {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #000000;
    margin: 5px 0 0 1px;
}

.process:hover {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 1px 1px 3px 1px #000000;
}

legend {font-weight: bold;}

#idealcar {
    padding: 10px 0 10px 0;
}

main {
    padding-left: 10px;
}